.title {
    padding: 10px 15px;
    margin: 15px;
}

.title h1 {
    margin: 0px;
    color: #4CAF50;
    font-size : 40px;
}

.title p {
    margin: 0px;
    color: #000000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
}

.menubar {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.menuitem {
    background-color: #555555;
    color: #ffffff;
    flex: 1;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
    margin: 0px 5px;
}

.menuitem:nth-child(3) {
    background-color: #04AA6D;
    color: white;
}

.main {
    padding: 10px;
}

.main h1,
.main h2 {
    margin : 0px;
    color: #4CAF50;
}

.sidebar {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar h3 {
    color: #4CAF50;
}

.bottom { 
    font-size: 12px;
    text-align: center;
}

a {
    color: black;
    
}